
body{
    width:80vw;
    margin:auto;

}
header{
    display:flex;
    width:40vw;
    align-items: center;
    justify-content: center;
    height: 25vh;
}
header h1{
    font-size:5em;
    padding:20px;
}
header img{
    width:15vw;
}
main{
    width:40vw;
}
.app_top{
    margin:10%;
}

.weather_box img{
    width:8vw;
}
.error{
    margin-top:10vh;
}
.app_bottom{
    height: 45vh;
}
.weather_info{
    display:flex;
 
}
