header h1 {
	padding-top: 15vh;
}
main {
	position: relative;
}
.app_top {
	display: flex;
}
.app_top p {
	position: absolute;
	top: 30px;
}
.app_bottom {
	height: 50vh;
}
.app_bottom h2 {
	font-size: 2.2em;
}
.box p {
	font-size: 1.5em;
}

.weather_box p {
	font-size: 2em;
	padding-top: 10vh;
}
.weather_info{
    margin-top:2vh;
}
.weather_info i{
    font-size:2em;
}
