@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgb(99, 212, 217);
	background: linear-gradient(90deg, rgba(99, 212, 217, 1) 0%, rgba(73, 146, 213, 1) 50%, rgba(0, 212, 255, 1) 100%);
}
header {
	display: flex;
	flex-direction: row;
}
header h1 {
	padding: 40px 25px;
	color: white;
}
header img {
	width: 30vw;
}
main {
	width: 100vw;
	display: flex;
	flex-direction: column;
}
.app_top {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
input {
	width: 60%;
	border: none;
	height: 5vh;
	padding: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
button {
	width: 30%;
	border: none;
	background-color: lightblue;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.error {
	padding-top: 15px;
	color: white;
}

.app_bottom {
	height: 50vh;
	background: rgb(180, 242, 244);
	font-size: 0.9em;
	background-color: rgba(255, 255, 255, 0.384);
	border-radius: 50px;
	margin: 25px;
	padding: 15px;
}
.app_bottom h2{
	text-align: center;
}
.box{
	display:flex;
	flex-direction: column;
	align-items: center;
}
.weather_box{
	display:flex;
	flex-direction: row;
	padding:5px 20px;
	justify-content: space-around;
}
.weather_icon{
	width:22vw;
}
.weather_box p{
	font-size:1.5em;
	padding-top:30px;
}
.app_bottom i{
	font-size:1.5em;
	color:rgb(0, 0, 0)

}
.span_font{
	font-size: 1.2em;;
}
.weather_info{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	
	margin-top:5vh;
}
.weather_info p{
	margin:10px;
	padding:5px;
	
}
